version: '3.9'

services:
  frontend:
    image: yachay-frontend-dev
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/.next
    container_name: yachay-frontend-dev
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - 3000:3000
    depends_on:
      - backend

  backend:
    image: yachay-backend-dev
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    container_name: yachay-backend-dev
    environment:
      PORT: 3001
    ports:
      - 3001:3001
    depends_on:
      - database
    command: bash -c 'while !</dev/tcp/database/3306; do sleep 1; done; yarn dev'

  database:
    image: mysql
    container_name: yachay-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: onlycourses
      MYSQL_USER: yachay-admin
      MYSQL_PASSWORD: yachay-password
    ports:
      - 3306:3306
    volumes:
      - ./backend/database:/docker-entrypoint-initdb.d
      - ./backend/database/data:/var/lib/mysql